import sys
import os

a=int(input())
if a>0 and a<10000:
  b=3
  c = (a**3)*b
else:
  b=a+3
  c=b-a

print("El resultado es:")
print(a+b+c)



import os
import sys


a = str(input())

if len(a)>0:
    if len(a)>=3:
        if a.find("ing") == -1:
            print (a+"ing")
        else:
            t = a.replace ("ing","ly")
            print (t)
    else:
        print(a)
else:
    print ("Invalid input")
